.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}
.navbar .logo{
    margin-top: 20px;
    font-weight: 500;
    color: tomato;
    font-size: max(3.5vw, 25px);
}

/* .navbar .profile{
    width: 40px;
} */